@font-face {
  font-family: "Helvetica Neue";
  src: url('../fonts/HelveticaNeue.ttf') format('truetype');
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
	padding-top: 60px;
}
a {
	transition: .3s;	
}
body, td {
	margin: 0 20px;
	color: #333;
	font-family: Verdana, Trebuchet MS, Tahoma, Arial, sans-serif;
	//font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 10pt;
}

#overlay {
  z-index: 10;
  position: fixed;
  background-color: #000;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0px;
}

td, th {
	padding: 3px;
	border-bottom: 1px solid #bbb;
	line-height: 1.45em;
}

th {
	background: #FFBB55;
}

.attention td {
    background: #fdc;
}

img.attention {
    vertical-align: middle;
}

tr:target td {
    background: #dfb;
}

table tbody tr:hover, tbody td.hover {
	background: #ffa; /* Цвет фона при наведении */
}

tbody tr:nth-child(odd){ /* Задаем стили для нечетных рядов таблицы */
	background: #fff;
}
 
tbody tr:nth-child(even){ /* Задаем стили для четных рядов таблицы */
	background: #e2f6f8;
}

.txtright {
	text-align: right;
}
.txtleft {
	text-align: left;
}
.addproduct > form > fieldset > div > label,
.addproduct > form > fieldset > div > div > label {
	display: block;
	float: left;
	width: 100px;
}
.addproduct > form > fieldset > div {
	width: 100%;
	margin: 1em 0;
	//display: flex;
}

:required {
	box-shadow: 0px 0px 10px #911;
}

.step {
	margin: 0 !important;
}

//#formsteps label {
//	width: 80px;
//}

input[type="checkbox"].isready + label {
	width: 80px;
}

//#formsteps input[type="checkbox"]:checked + label:before {
//	content: "Готово";
//}

//#formsteps label:before {
//	content: "В работе";
//}

input[type="checkbox"].isready:checked + label:before {
	content: "Готово";
}

input[type="checkbox"].isready + label:before {
	content: "В работе";
}
input[type="checkbox"].nightshift:checked + label:before {
	content: "Ночь";
}
input[type="checkbox"].nightshift + label {
	width: 58px;
	float: none;
	display: inline-block;
}
.wr-nightbonus {
	display: inline-block;
}

input[type="checkbox"].nightshift + label:before {
	content: "День";
}

.edit_steps label{
//	width: 100px;
	text-align: left;
//	font-size: .9em;
}

.nowrap {
	white-space: nowrap;
}

.material {
	line-height: 1.79em;
}

.spase {
	width: 20px;
}

.isready {
	color: #191;
	font-weight: bold;
}

#add_btn {
	background: url("../img/bt_speed_dial_1x.png") no-repeat scroll center center transparent;
	bottom: 100px;
	cursor: pointer;
	width: 56px;
	height: 56px;
	opacity: .4;
	position: fixed;
	right: 100px;
	z-index: 9;
	border-radius: 50%;
	background-color: #db4437;
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

#print_btn {
	background: url("../img/printer.png") no-repeat scroll center center transparent;
	bottom: 175px;
	cursor: pointer;
	width: 56px;
	height: 56px;
	opacity: .4;
	position: fixed;
	right: 100px;
	z-index: 13;
	border-radius: 50%;
	background-color: #db4437;
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
#print_btn > a {
	display: none;
	height: 100%;
}

#add_btn:hover, #print_btn:hover {
	opacity: .8;
}

.bg-red {
	background-color: #ff9090;
//	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	border-radius: 20%;
}

.bg-yellow {
	background-color: #eded00;
//	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	border-radius: 20%;
}

.bg-green {
	background-color: #3bec00;
//	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	border-radius: 20%;
}

//.b-string {
//    position: relative;
//    width: 100px;
//    margin-left: 5px;
//    overflow: hidden;
//    white-space: nowrap
// }
//.b-string:hover {
//	z-index: 1;
//	position: absolute;
//	display: table;
//	box-shadow: 0px 0px 10px #999;
//	border-radius: 5px;
//	background: rgba(255,255,255, .8);
//}
.printlist {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #777;
    border-radius: 7px;
    padding: 10px;
    margin: 10px;
}

.radiostatus {
	//display: inline-block;
}
.free-amount input + span {
	display: none;
}
.free-amount input:checked + span {
	display: inline-block;
}

.print_col, .print_row {
	display: none;
}

.print_row + label{
	position: absolute;
	display: none;
//	left: -20px;
}

.main_table thead input[type="text"] {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.selectwr {
	display: block;
}
.navbar {
    background-color: #222;
    border-color: #080808;
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    margin-left: -20px;
}
.navbar a {
	text-decoration: none;
}
.navbar-header {
	float: left;
}
.navbar-brand {
	color: #9d9d9d;
	float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-brand:hover, .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-nav {
	float: right;
	padding-left: 0;
    margin: 0;
    list-style: none;
}
.navbar-nav > li {
	float: left;
	display: flex;
}
.navbar-nav > li > a {
	color: #9d9d9d;
	line-height: 20px;
	position: relative;
	display: block;
	padding: 15px 15px;
	font-size: 14px;
}
.navbar-nav > li > div {
	color: #fff;
	line-height: 20px;
	position: relative;
	display: block;
	padding: 15px 0px 15px 15px;
	font-size: 14px;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:hover {
	color: #fff;
	background-color: transparent;
}
.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
	color: #fff;
	background-color: #080808;
}
select {
	background: #ffffff;
}
input.tariff {
	width: 60px;
}
input.amount {
	width: 50px;
}
.main_table {
	table-layout: fixed;
	width: 100%;
}
.main_table td, .main_table th {
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;
	transition: .3s;
}
.main_table td:hover, .main_table th:hover {
    overflow: visible;
    position: relative;
}
.main_table td > span {
	transition: .3s;
}
.main_table td:hover > span {
    background: #ffa;
    padding: 4px 0;
    box-shadow: 5px 5px 8px #666;
}
.main_table th:hover {
	color: #fff;
}
.log-blank, .log-pay {
	position: relative;
}
.log-blank:after, .log-pay:after {
/*
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
	background: -moz-linear-gradient(top, rgba(255,255,255, 0.2), #fff 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255, 0.2), #fff 100%);
	background: -o-linear-gradient(top, rgba(255,255,255, 0.2), #fff 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255, 0.2), #fff 100%);
	background: linear-gradient(to bottom, rgba(255,255,255, 0.2), #fff 100%);
*/
}
.log-blank .button, .log-pay .button {
	z-index: 1;
}

@media (min-width: 1024px) {
	.halfblock {
		width: 49%;
		display: inline-block;
		vertical-align: top;
	}
}

td.tscell {
	cursor: pointer;
	position: relative;
}
td.tscell:hover {
	background: #fca;
}
td.tscell > i {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 10px;
}
.painting i {
	cursor: pointer;
}

#login {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border-color: transparent;
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.3),0 3px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 2px rgba(0,0,0,0.3),0 3px 5px rgba(0,0,0,0.2);
	-ms-box-shadow: 0 0 2px rgba(0,0,0,0.3),0 3px 5px rgba(0,0,0,0.2);
	-o-box-shadow: 0 0 2px rgba(0,0,0,0.3),0 3px 5px rgba(0,0,0,0.2);
	box-shadow: 0 0 2px rgba(0,0,0,0.3),0 3px 5px rgba(0,0,0,0.2);
	padding: 25px 30px 25px;
	background: #FAFAFA;
	margin-top: 8em;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	color: #666;
}
#login H1, #login h3, #login p, #login a {
	text-align: center;
	display: block;
}
#login form div {
	margin: 15px 0;
	text-align: right;
	white-space: nowrap;
}
#login input {
	width: 235px;
	padding: 3px;
	margin-left: 10px;
	font-size: 1.2em;
}
#login label {
	font-weight: bold;
}
#login p {
	font-size: 0.8em;
}

#timesheet {
	margin-top: 15px;
}
#timesheetbutton {
	position: fixed;
	left: calc(50% - 50px);
	top: calc(50% - 50px);
	width: 100px;
	height: 100px;
	box-shadow: 0px 0px 20px #911;
	display: none;
	z-index: 1;
}
#timesheet td {
	border-right: 1px solid #bbb;
}

#print_title {
	display: none;
	position: fixed;
	top: 50px;
	width: 50%;
	left: 25%;
	z-index: 12;
	text-align: center;
	box-shadow: 0 0 10px #666;
}

.filtered {
	background: #eded00;
}

#print_tbl {
	height: calc(100% - 150px);
}

.wr_main_table_body {
	height: calc(100% - 200px);
	position: absolute;
	overflow-y: scroll;
}
